.wrapper {
    background-color: white;
    padding:0.25em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all ease-in-out .5s;
    height:100%;

}

.wrapper:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.titleDivider {
    height:3px;
    background-color: var(--colorAccent);

}

.panelTitle {
    text-align: center;
    font-weight:bold;
    font-size:1.5em;
    padding:0.5em;
}

