.header {
    color: var(--colorPrimaryDark);
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 2.5em;
    margin-top: 2em;
    margin-left: 3em;
    margin-right: 3em;
}

.heading {
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 0.25em;
}

.headingSubtitle {
    color: var(--colorPrimaryDark);
    letter-spacing: 1px;
    text-align: center;
    font-size: 25px;
}

.headingLine {
        background-color: var(--colorSecondary);
        height:5px;
        opacity: 0.5;


}
