.latestPosts {
  text-align: center;
}

.postEntry {
  width:50%;
  float:left;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    max-width: var(--maxWidth);
    padding: 1rem 0.75rem;
    margin-left:auto;
    margin-right:auto;
}