.wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    padding: 1rem 0;
    border-color: var(--colorSecondaryDark);
}

.title {
    align-self: center;
    font-size: 1.2rem;
    font-weight: 900;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.meta {
    font-size: 0.75rem;
    opacity: 0.6;
    text-align: center;
}

.description {
    font-size: 0.85rem;
    padding: 20px;
}

.readMore {
    /* align-self: center; */
    display: block;
    margin-top: 1rem;
    margin-right:2em;
    margin-bottom:2em;
    border-radius: 3px;
    font-size: 0.8rem;
    text-align: center;
    border-bottom: 0 !important;
    text-decoration: none !important;
    float: right;
}
