.list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.listItem {
    display: block;
    margin-left:10px;
    margin-right:10px;
}

@media (max-width:700px) {
    .list {
        flex-direction:column;
    }
}
